@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100 900;
  src: local(""), url("/fonts/PretendardVariable.woff2") format("woff2");
}

@layer base {
  :root {
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --orange-50: #fff7ed;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #ff7f57;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
    --yellow-50: #fffff0;
    --yellow-100: #fefcbf;
    --yellow-200: #faf089;
    --yellow-300: #f6e05e;
    --yellow-400: #ecc94b;
    --yellow-500: #f7b500;
    --yellow-600: #b7791f;
    --yellow-700: #975a16;
    --yellow-800: #744210;
    --yellow-900: #5f370e;
    --red-50: #ffeef0;
    --red-100: #ffebee;
    --red-200: #ffcdd2;
    --red-300: #ef9a9a;
    --red-400: #e57373;
    --red-500: #f44336;
    --red-600: #e53935;
    --red-700: #d32f2f;
    --red-800: #c62828;
    --red-900: #b71c1c;

    --my-colors-primary-50: #fff7ed;
    --my-colors-primary-100: #ffedd5;
    --my-colors-primary-200: #fed7aa;
    --my-colors-primary-300: #fdba74;
    --my-colors-primary-400: #fb923c;
    --my-colors-primary-500: #ff7f57;
    --my-colors-primary-600: #ea580c;
    --my-colors-primary-700: #c2410c;
    --my-colors-primary-800: #9a3412;
    --my-colors-primary-900: #7c2d12;
    --my-colors-neutral-50: #fafafa;
    --my-colors-neutral-100: #f5f5f5;
    --my-colors-neutral-200: #e5e5e5;
    --my-colors-neutral-300: #d4d4d4;
    --my-colors-neutral-400: #a3a3a3;
    --my-colors-neutral-500: #737373;
    --my-colors-neutral-600: #525252;
    --my-colors-neutral-700: #404040;
    --my-colors-neutral-800: #262626;
    --my-colors-neutral-900: #171717;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: var(--orange-500);
    --primary-subtle: var(--orange-200);
    --primary-strong: var(--orange-600);
    --primary-stronger: var(--orange-700);
    --primary-inverse: var(--neutral-500);
    --primary-fg: var(--neutral-50);
    --primary-boundary: var(--orange-500);
    --shadow-color: var(--orange-500);

    --warning: var(--yellow-500);
    --error: var(--red-500);
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /*
     * trds color system 
     */
    --my-colors-primary: var(--primary);
    --my-colors-primary-500: var(--primary);
    --my-colors-primary-fg: var(--primary-fg);
    --my-colors-primary-inverse: var(--primary-inverse);
    --my-colors-primary-strong: var(--primary-strong);
    --my-colors-primary-stronger: var(--primary-stronger);
    --my-colors-primary-boundary: var(--primary-boundary);
    --my-colors-primary-alpha: #c4b5fd1f;
    --my-colors-primary-alpha2: #c4b5fd3d;
    --my-colors-layer-fill: #ffffff;
    --my-colors-layer-hover: var(--my-colors-neutral-100);
    --my-colors-layer-pressed: var(--my-colors-neutral-200);

    --my-colors-layer-input: #ffffff;
    --my-colors-fg-input: var(--my-colors-neutral-800);
    --my-colors-fg-placeholder: var(--my-colors-neutral-400);

    --my-colors-boundary: var(--my-colors-neutral-200);
  }
  :root[data-theme="dark"] {
    --my-colors-primary-subtlest: var(--my-colors-primary-900);
    --my-colors-primary-subtler: var(--my-colors-primary-800);
    --my-colors-primary-subtle: var(--my-colors-primary-700);
    --my-colors-primary: var(--my-colors-primary-500);
    --my-colors-primary-strong: var(--my-colors-primary-400);
    --my-colors-primary-stronger: var(--my-colors-primary-300);
    --my-colors-primary-alpha: rgba(255, 237, 213, 0.08);
    --my-colors-primary-alpha2: rgba(255, 237, 213, 0.16);
    --my-colors-neutral-subtler: var(--my-colors-neutral-800);
    --my-colors-neutral-subtle: var(--my-colors-neutral-700);
    --my-colors-neutral: #2e2e2e;
    --my-colors-neutral-strong: #363636;
    --my-colors-neutral-stronger: #484848;
    --my-colors-neutral-strongest: #565656;
    --my-colors-neutral-fg: #b3b3b3;

    --my-colors-layer: #1f1f1f;
    --my-colors-layer-alpha: rgba(255, 255, 255, 0);
    --my-colors-layer-alpha2: rgba(0, 0, 0, 0.08);
    --my-colors-layer-fill: #2e2e2e;
    --my-colors-layer-hover: #363636;
    --my-colors-layer-pressed: #484848;
    --my-colors-layer-popover: #2e2e2e;
    --my-colors-layer-highlight: #363636;
    --my-colors-layer-input: #2e2e2e;
    --my-colors-layer-trigger: #2e2e2e;
    --my-colors-layer-muted: #565656;
    --my-colors-layer-modal: #2e2e2e;

    --my-colors-fg: #d8d8d8;
    --my-colors-fg-input: var(--my-colors-neutral-100);
    --my-colors-fg-title: #e0e0e0;
    --my-colors-fg-description: #b3b3b3;
    --my-colors-fg-caption: var(--my-colors-neutral-400);
    --my-colors-fg-trigger: var(--my-colors-neutral-200);
    --my-colors-fg-placeholder: var(--my-colors-neutral-400);

    --my-colors-boundary: var(--my-colors-neutral-700);
    --my-colors-boundary-trigger: #2e2e2e;
    --my-colors-boundary-popover: #363636;

    /* --my-colors-primary: var(--primary);
    --my-colors-primary-500: var(--primary);
    --my-colors-primary-fg: var(--primary-fg);
    --my-colors-primary-inverse: var(--primary-inverse);
    --my-colors-primary-strong: var(--primary-strong);
    --my-colors-primary-stronger: var(--primary-stronger);
    --my-colors-primary-boundary: var(--primary-boundary); */
  }
}

input {
  background: var(--my-colors-layer-input);
  color: var(--my-colors-fg-input);
}

html,
body {
  font-size: 16px;
}

* {
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior: none;
  touch-action: none; /* 배경이 움직이지 않게 해줌 */
  background: var(--my-colors-layer);
  color: var(--my-colors-fg);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
